[Unit]
Description=Fix StartupWMClass in Vivaldi and Microsoft Edge .desktop files

[Service]
Type=oneshot
ExecStart=%h/.local/bin/fix-desktop-wmclass
