[user]
	email = bkhl@elektrubadur.se
	name = Björn Lindström
[includeIf "gitdir:~/Work/"]
    path = .gitconfig.d/work
[push]
	default = simple
[alias]
	st = status
[trim]
	detach = false
[fetch]
	parallel = 10
