[user]
	email = bkhl@elektrubadur.se
	name = Björn Lindström
[include]
    path = .gitconfig.local
[init]
	defaultBranch = main
[fetch]
	parallel = 10
[pull]
	ff = only
[push]
	autoSetupRemote = true
[alias]
	st = status
[diff "elisp"]
    xfuncname="^\\((((def\\S+)|use-package)\\s+\\S+)"
[diff "org"]
    xfuncname="^\\*+ +(.*)$"
