[user]
	email = bkhl@elektrubadur.se
	name = Björn Lindström
[include]
    path = .gitconfig.local
[push]
	default = current
[alias]
	st = status
[trim]
	detach = false
[fetch]
	parallel = 10
[pull]
	ff = only
[init]
	defaultBranch = main
