[Desktop Entry]
Type=Application
Exec=/usr/bin/xrandr --addmode DP-2-2 "1680x1050"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=Add missing modeline for office monitor
Name=Add missing modeline for office monitor
Comment[en]=
Comment=
