[Desktop Entry]
Name=st
Keywords=shell;prompt;command;commandline;cmd;
Exec=st
Icon=utilities-terminal
Type=Application
Categories=System;TerminalEmulator;
StartupWMClass=xterm-256color
StartupNotify=false
