[Desktop Entry]
Name=tmux
Type=Application
TryExec=tmux
Exec=gnome-terminal --profile=tmux
Icon=utilities-terminal
Categories=System;TerminalEmulator;
