[Desktop Entry]
Name=tmux
Type=Application
Exec=alacritty --class tmux --command tmux new -A -s main
Icon=tmux
Categories=System;TerminalEmulator;
StartupWMClass=tmux
